@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype'),
    url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.2rem;
  color: hsl(0, 0%, 100%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px;
  padding: 40px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
}

.card .card__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card .card__title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.25rem;
}

.card .card__subtitle {
  margin-top: -8px;
  font-weight: 400;
  font-size: 0.75rem;
  color: hsl(75, 94%, 57%);
}

.card .card__text {
  margin-top: 10px;
  font-size: 0.7rem;
  color: hsl(0, 0%, 100%);
}

.card .card__nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  list-style: none;
}

.card .card__nav ul li {
  width: 80%;
  border: 2px solid hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  text-align: center;
}

.card .card__nav ul li:hover {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
}

.card .card__nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
}

@media screen and (max-width: 375px) {
  .card {
    align-self: center;
    width: 80%;
    margin: 80px 24px;
    padding: 12px;
  }
}
